<h1 id="tableLabel">People</h1>

<p *ngIf="!people"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="people">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="onSortByAgeClick()">Sort by age</button>
<button class="btn btn-primary" (click)="onReverseNamesClick()">Reverse names</button>
<a class="btn btn-primary" href="api/people/download?sortByAge={{sortByAge}}&reverseNames={{reverseNames}}" download="FEFle123.csv">Download CSV</a>
