<h1 id="tableLabel">People</h1>

<p *ngIf="!people"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="people">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.id }}</td>
      <td>{{ person.name }}</td>
      <td>{{ person.age }}</td>
    </tr>
  </tbody>
</table>

<div class="form-group">
  <div class="custom-control custom-switch custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="sortByAgeCheck" [checked]="sortByAge" (change)="onSortByAgeChange()">
    <label class="custom-control-label" for="sortByAgeCheck">Sort by age</label>
  </div>
  <div class="custom-control custom-switch custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="reverseNamesCheck" [checked]="reverseNames" (change)="onReverseNamesChange()">
    <label class="custom-control-label" for="reverseNamesCheck">Reverse names</label>
  </div>
  <div class="custom-control custom-switch custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="selectByAgeCheck" [checked]="selectByAge" (change)="onSelectByAgeChange()">
    <label class="custom-control-label" for="selectByAgeCheck">Select by age</label>
  </div>
</div>
<div class="form-group">
  <a class="btn btn-primary" href="api/people/download?sortByAge={{sortByAge}}&reverseNames={{reverseNames}}&selectByAge={{selectByAge}}" download="FEFle123.csv">Download CSV</a>
</div>
